<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\Users\DELL\AppData\Local\Programs\Python\Python311\python.exe|E:\Anish\Source\Python\JISChatBot\env\Lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\JISChatbot" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\JISChatbot\app.log" />
  </appSettings>
</configuration>